.container {
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #eee;
    background: #f9f9f9;
    border-radius: 6px;
}

.text {
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}